h1{
  border: 2px solid black;
}
h2{
  color: purple;
}

}
body{
  background-color: #a8c4f0;
}
input{
  border: 2px solid rgb(144,0,0)
}
p{
  background:  #97f235;
}
#textblock{
  border:3px solid gray;
  width: 800px;
  height: 100px;
}
a{
  color:red;
}
.exit{
  background-color: #c99daa;
  border: 2px dashed rgb(28, 9, 232);
  width:900px;
}

a:visited{
  color:blue;
}
