h1{
  text-align: center;
  font-family: 'Nova Flat', cursive;
}
.art{
  margin: auto;
}
td{
  background-color: black;
  height: 300px;
 width: 150px;
 border:6px solid white;

}

#one{
  background-color: #D00000;
}
#two{
  background-color: #E85D04;
}
#three{
  background-color: #023E8A;
}

#four{
  background-color: #f4acb7;
}
